//
// header-start
//////////////////////////////////////////////////////////////////////////////////
//
// \file      src/scss/styles.scss
//
// \brief     This file belongs to the ng2 tutorial project
//
// \author    Bernard
//
// \copyright Copyright ng2goodies 2015
//            Distributed under the MIT License
//            See http://opensource.org/licenses/MIT
//
//////////////////////////////////////////////////////////////////////////////////
// header-log
//
// $Author$
// $Date$
// $Revision$
//
//////////////////////////////////////////////////////////////////////////////////
// header-end
//
//
// Global custom style here
//
* {
    box-sizing: border-box;
}
html, body {
  background-color: white;
  color: red;
  margin: 0;
  padding:0;
}