//
// header-start
//////////////////////////////////////////////////////////////////////////////////
//
// \file      src/scss/styles.scss
//
// \brief     This file belongs to the ng2 tutorial project
//
// \author    Bernard
//
// \copyright Copyright ng2goodies 2015
//            Distributed under the MIT License
//            See http://opensource.org/licenses/MIT
//
//////////////////////////////////////////////////////////////////////////////////
// header-log
//
// $Author$
// $Date$
// $Revision$
//
//////////////////////////////////////////////////////////////////////////////////
// header-end
//
//
// Global custom style here
//
* {
    box-sizing: border-box;
}
html, body {
  background-color: white;
  color: red;
  margin: 0;
  padding:0;
}

pre.snippet  {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 25%;
  padding: 10px;
  padding-left: 3%;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: Consolas, monospace, sans-serif;
  white-space: pre-line;
}