<div class="w3-row">
  <div class="w3-container w3-padding w3-col w3-text-theme" style="width:10%">
    <div hidden>Reserved for future use</div>
  </div>
  <div class="w3-container w3-padding w3-col w3-text-theme" style="width:80%">
    <br>
    <br>
    <h2 >Gradient Demo Using Nested Sliders</h2>


    <div id="container">
      <div id="hslider">
        <gg-svg-slider-dyn
            [min]="0"
            [max]="hrail_length_"
            (values)="hrunner_changes($event)"
            [hiderail]="cfg_.hide_horizontal_rail"
            [hiderunners]="cfg_.hide_horizontal_runners"
            special
            [length]="hrail_length_">
        </gg-svg-slider-dyn>
      </div>
      <!--
      <canvas id="canvas">You browser does not support canvas</canvas>
        <canvas id="canvas" width="947" height="473">You browser does not support canvas</canvas>
      #="'ID' + _idx"
      -->
      <div id="canvas-enclosure">
        <canvas id="canvas">You browser does not support canvas</canvas>
      </div>

      <div *ngFor="#_idx of indexes_">
        <div *ngIf="are_enabled_[_idx]"
             id="vslider" [ngStyle]="{'left': (xs_[_idx]) + 'px'}" >
          <gg-svg-slider-rgb #_inst
            [min]="0"
            [max]="vrail_length_"
            (values)="rgb_value_changes(_idx, xs_[_idx], $event, _inst)"
            [hiderail]="cfg_.hide_vertical_rails"
            [hiderunners]="cfg_.hide_vertical_runners"
            vertical
            special
            [length]="vrail_length_">
          </gg-svg-slider-rgb>
        </div>     
      </div>     
    </div>     

    <div gg-animate-height="70px" #_anim="ah" id="container-control" style="height:0; overflow: hidden">
      <table style="margin:12px">
        <tr>
          <td>
            <input #_inst1 type="checkbox"  value="false" (change)="cfg_.hide_vertical_runners = _inst1.checked">
            <label>Hide vertical runners</label>
          </td>  
          <td>
            <input #_inst2 type="checkbox" value="false" (change)="cfg_.hide_horizontal_runners = _inst2.checked">
            <label>Hide horizontal runners</label>
          </td>  
        </tr>
        <tr>
          <td>
            <input #_inst3 type="checkbox"  value="false" (change)="cfg_.hide_vertical_rails = _inst3.checked">
            <label>Hide vertical rails</label>
          </td>  
          <td>
            <input #_inst4 type="checkbox"  value="false" (change)="cfg_.hide_horizontal_rail = _inst4.checked">
            <label>Hide horizontal rail</label>
          </td>  
        </tr>
        <tr>
          <td>
            <input type="checkbox" value="false" (change)="onCheckboxChange('hide_colored_lines', $event)">
            <label>Hide colored RGB lines</label>
          </td>  
          <td>
            <input type="checkbox" value="false" (change)="onCheckboxChange('use_spline_interpolation', $event)">
            <label>Use spline interpolation (tbd)</label>
          </td>  
        </tr>
      </table>
    </div>  
    <div id="animate-control">
      <div id="svg-container" style="height:20px;width:50px;margin-left:auto;margin-right:auto" >
        <svg height="20" preserveAspectRatio="xMinYMin meet"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 50 20" version="1.1" >
          <g (click)="_anim.toggle()">
            <rect id="pullhandle" x="5" y="5" rx="5" width="40" height="10" style="fill:grey" />
          </g>      
        </svg>  
      </div>
    </div>
    <br>
    <br>
     <button (click)="clicked_save_config()" class="w3-btn w3-border w3-round-large">Save Configuration</button>
     <button (click)="clicked_apply_config()" class="w3-btn w3-border w3-round-large">Apply Configuration</button>
    <br>
    <br>
    <textarea #_textarea rows="10" cols="50" [(ngModel)]="txt_configuration_" 
              style="font-family: Consolas, monospace, sans-serif;"></textarea>
    <br>
    <br>
    <br>
    <br>
    End of demo!
  </div>
  <div class="w3-container w3-padding w3-col w3-text-theme" style="width:10%">
  </div>
</div>